<body>

<nav class="navbar navbar-light">
  <ul class="left">
      <li><a class="nav-link active" href="#">Charities</a></li>
      <li><a class="nav-link" href="#">Contact Us</a></li>
      <li><a class="nav-link" href="#">About Us</a></li>
  </ul>
  <ul class="right">
      <li><a class="nav-link" href="#">Log In</a></li>
      <li><a class="nav-link" href="#">Sign Up</a></li>
  </ul>
</nav>
<br>
<div class="container">
  <div class="row">
    <div class='jumbotron col-md'>
      <h3>CHARITABLE DONATIONS MADE EASY AND REWARDING</h3>
      <br><br>
      <button class='btn-secondary btn-lg'>GET STARTED!</button>

    </div>
    <div class='col-md'>
    </div>
    <div class='jumbotron col-md'>
      <h3>JOIN PASS THE HAT'S NETWORK OF CHARITIES</h3>
      <br><br><br><br>
      <button class='btn-secondary btn-lg'><a class="omniauth" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_CGK1mNdmOxgfD7On5xUjSkcRvQc7vawH&scope=read_write">Charity Onboarding</a></button>
    </div>
  </div>
</div>
