// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#charges-create .jumbotron {
  background-color: #ffffff;
  width: 55%;
  color: black;
  box-shadow: RGBA(0, 0, 0, 0.3) 20px 20px 20px;
}

#charges-create .btn {
  background-color: green;
}
