// Place all the styles related to the Charities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#charities h1 {
  font-style: 'Montserrat', sans-serif;
}

#charities table {
  border-radius: 25px;
  border-style: solid;

}

#charities div.container-fluid {
  width:50%;
}

#charities div.jumbotron {
  width:50%;
  height:50%;
  background-image: url('http://deepimagery.net/events/wp-content/uploads/sites/13/2017/01/donation-.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color:transparent;
}

body{
  background-color: #525252;
}
.centered-form{
	margin-top: 60px;

}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
  padding: 5px;

}
