<div id="charges-create" class="z-depth-5">
  <div class="container">
    <div class="jumbotron" >
      <h1 class="display-3">Payment Received!</h1>
      <p class="lead">Thank you for your generous donation!</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
</div>
